<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Request</title>
</head>
<body>
    <h3>Password reset request</h3>
    <p>Hi <b>{{name}}</b>,</p>
    <p>It looks like you need a little help with your password.</p>
    <p>If this was you, please reset your password by clicking on <a href={{link}}>Reset Password</a></p>
    <p>If you did not request for this, simply ignore it. Nothing will change in your account settings, your account will remain secure.</p>
    <p>Be aware that this link only valid for the next 15 minutes!</p>
</body>
</html>